[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty
GenericName=Terminal emulator with fcitx 4.x support
Comment=Fast, feature-rich, GPU based terminal
TryExec=/usr/local/bin/kitty
Exec=/usr/local/bin/kitty
Icon=/usr/lib/kitty/logo/kitty.png
Categories=System;TerminalEmulator;
Terminal=false
Actions=new-window;new-tab;

[Desktop Action new-window]
Name=New Window
Exec=/usr/local/bin/kitty

[Desktop Action new-tab]
Name=New Tab
Exec=/usr/local/bin/kitty --single-instance
